@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style starts */
.display-flex{
  display: flex;
}
/* dark 2 color */
.text-gray{
  color: #424242;
}
/* dark 3 color */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.enjoyable-feature{
  width: 450px;
  border:none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
  margin-top: 19px;
  padding: 20px 20px 20px 20px;
  background-color: beige;
}
.enjoyable-feature-title{
color: #131313;
font-size: 1.25rem;
}
.enjoyable-feature-description{
color: #727272;
}

/* shared style ends */

*{
  margin: 0;
  padding: 0;
}
/* navbar related styles start*/
.navbar{
  justify-content: space-around;
  align-items: center;
   max-width: 1440px;
  margin: 0 auto;
  padding-top:50px;
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
/* navbar related styles end */

/* banner related styles start */
.banner{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 90px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  color: #727272;
  margin-top: 35px;
  margin-bottom: 25px;
}
.banner-image{
  width: 100%;
  margin-bottom: 45px;
}
/* banner related styles end */

/* our features section related styles start */
.our-features{
  max-width: 80%;
  display: flex;
  gap: 50px;
  margin: 85px auto 130px;

}
.team-images-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-image{
  width: 242px;
  height: 242px;
}
.our-features-description-item{
  display: flex;
  align-items: center;
}
.features-title{
  font-size: 2.8rem;
}
.features-description{
  margin-top: 24px;
  margin-bottom: 32px;
  color: #727272;
}
/* our features section related styles end */

/* special feature section related style start */
#special-features-item{
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.special-feature-title{
font-size: 2.8rem;
font-weight: Bold;
color: #131313;
margin-top: 35px;
margin-bottom: 20px;
width: 400px;
}
.special-feature-description{
width: 500px;
color: #727272;

}
.lady-architect{
  height: auto;
  width: 550px;
}
.experience-info{
  font-size: 4.06rem;
  font-weight: 700;
  width: 258px;
  background-color: color: rgb(255, 255, 255);
}

/* cart section relateed styles start */
#area-facts{
 max-width: 80%;
 margin: 0 auto;
}
.fact-title{
  font-size: 2.8rem;
  color: rgb(19, 19, 19);
  margin-top: 130px;
  margin-bottom: 24px;
}
.fact-description{
  width: 510px;
  color: rgb(114, 114, 114);
  margin-bottom: 80px;
}
.carts-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cart{
  max-width: 170px;
  max-height: 170px;
  text-align: center;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  padding: 30px 25px 43px 20px;
}
.numbers{
  font-size: 2.8rem;
  color: #424242;
}
.completed-works{
  font-size: 1.25rem;
  color: #727272;
}


/* responsive design for mobile devices */
@media screen and (max-width:576px) {
  .navbar, .nav-links{
    flex-direction: column;
  }
  .team-images-item{
     grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    flex-direction: column-reverse;
    margin: 60px auto 60px;
  }
  .team-image{
    width:100%;
    height: auto;
  }
 #special-features-item{
flex-direction: column;
 }
 .special-feature-title{
  width: auto;
 }
 .special-feature-description{
  width: auto;
 }
 .enjoyable-feature{
  width: auto;
  padding: 10px;
 }
 .lady-architect{
  width: 100%;
  margin-top: 20px
 }
 .fact-title{
  margin-top: 90px;
 }
.fact-description{
  width: auto;
  margin-bottom: 45px;
}
.carts-item{
grid-template-columns: repeat(1, 1fr);
 }
 .cart{
  max-width: 85%;
  margin-bottom: 20px;
 }
}

/* responsive design for tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .our-features{
    flex-direction: column-reverse;
  }
  .team-image{
    width: 100%;
    height: auto;
  }
  #special-features-item{
flex-direction: column;
 }
 .special-feature-title{
  width: auto;
 }
 .special-feature-description{
  width: auto;
 }
 .enjoyable-feature{
  width: auto;
 }
 .lady-architect{
  width:100%;
  margin-top: 20px;
 }
 .carts-item{
  grid-template-columns: repeat(2, 1fr);
 }
 .cart{
  max-width: 80%;
  margin-right: 20px;
  margin-bottom: 20px;
 }
}